<h1>This is where all of the #math goes</h1>

<body>
    We took into account the probabilty of a deal moving on to the next stage in your pipeline.  Then we looked at how much active time you spend working on a deal.  While you might only spend 3 to 5 days of total work on a deal, once we take into account the work spent on deals that do not close, we're confident that on average it takes you approximately <%=@deal_time.sum%> days of work to complete a deal
<p></p>
    There are [XXX] business days remaining in your sales period which means you have time to work on XXX many more deals with a total probabilty weighted deal value of [XXXX]
<p></p>
    Your current pipepline is worth [XXXX].  Based on the number of days left in your period, if you perform as expected then you will achieve [XXX] percent of your sales goal
<p></p> 
</body>
<h2>Ways to Improve</h2> 
<body>


</body>


