<h1>All the #math if we had some info!</h1>


    We need some information on your sales pipeline and your sales goals.
<p></p>
<p></p>
<p></p>

<div class = "row">
    <div class = "col-md-6">   
        <div class="card border-info mb-3" style="max-width: 20rem;">
          <div class="card-header">Pipeline Stages</div>
          <div class="card-body">
            <h4 class="card-title"><a href="/stages">Add your Stages</a></h4>
            <p class="card-text">Add information on the stages in your pipeline... for example: how many deals are currently in each stage?</p>
          </div>
        </div>
    </div>
    <div class = "col-md-6">
        <div class="card border-info mb-3" style="max-width: 20rem;">
          <div class="card-header">Your Sales Goals</div>
          <div class="card-body">
            <h4 class="card-title"><a href="/goals">Add a Goal</a></h4>
            <p class="card-text">Add information about your goal for the current sales period.</p>
          </div>
        </div>
    </div>    
</div>